<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<h1>Book My Show</h1>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	<img src="/img/1.jpg" width="400" height="250">
	<div class="login">
		<form align="center" method="get" action="/bookmyshow/movie">
			<br>
			<label>UserId:</label>
			<input type="text" name="uname" placeholder="Enter the userId"><br><br>
			<label>Password:</label>
			<input type="password" name="pwd" placeholder="Enter the password"><br/><br>
			<button name="submit">Login</button>
		</form>
	</div>
	<p>New User? <a href="bookmyshow/signup">Sign up</a></p>
	<img src="/img/2.jpg" width="400" height="250" class="people">
</body>
